---
import Inicio from "../sections/Inicio.astro"
import Catalogo from "../sections/Catalogo.astro"
import Categorias from "../sections/Categorias.astro"
import Ubicacion from "../sections/Ubicacion.astro"
import Contacto from "../sections/Contacto.astro"
import PreguntasFrecuentes from "../sections/PreguntasFrecuentes.astro"
import Marcas from "../sections/Marcas.astro"
---

<div id="container" class="h-full w-full">
	
	<main>
		<Inicio></Inicio>
		<Categorias></Categorias>
		<Catalogo></Catalogo>
		<Marcas></Marcas>
		<PreguntasFrecuentes></PreguntasFrecuentes>
		<Contacto></Contacto>
		<Ubicacion></Ubicacion>
	</main>

</div>
