---

---

<section id="Inicio" class="relative flex min-h-[calc(100dvh-4rem)] w-full items-center justify-center overflow-hidden bg-[url('/hero.jpg')] bg-cover bg-center bg-no-repeat px-6 py-12 md:min-h-[calc(100dvh-5rem)] md:justify-start md:p-20">
	<div class="pointer-events-none absolute inset-0 bg-blueRGA/85"></div>
	<div class="relative z-10 flex flex-col gap-6 text-center text-white md:text-left lg:w-1/3">
		<h1 class="text-4xl font-bold ">CONSORCION RGA</h1>
		<p class="text-xl md:p-0 p-5">Más que productos, entregamos resultados. En Consorcio RGA equipamos a tu corporación con las herramientas necesarias para un entorno de trabajo seguro, limpio y productivo.</p>
	</div>
</section>