---
const marcas = [
    {name:"/elite.png"},
    {name:"/clorox.png"},
    {name:"/glade.png"},
    {name:"/hude.png"},
    {name:"/raid.png"},
    {name:"/sapolio.png"}
]
---

<section class="min-h-dvh w-full bg-white flex flex-col justify-center text-center gap-20">
    <h1 class="text-blueRGA text-4xl font-bold">MARCAS</h1>
    <div>
        <ul class="grid grid-cols-2 md:grid-cols-3 w-full content-center items-center justify-center gap-8">
            {
                marcas.map((marca) => (
                    <li class="flex justify-center rounded-2xl">
                        <img src={marca.name}>
                    </li>
                ))
            }
        </ul>
    </div>
</section>