<section class="flex min-h-[50dvh] w-full flex-col items-center justify-center bg-blueRGA px-6 py-12 gap-10">
    <h1 class="text-center text-3xl font-bold text-white md:text-4xl">
        Nuestra propuesta de valor
    </h1>

    <p class="text-white text-lg text-center">
        «Garantizamos la continuidad operativa y la seguridad de tu institución mediante un abastecimiento 
        inteligente, puntual y de alto rendimiento en soluciones de higiene profesional.»
    </p>

    <span
        aria-hidden="true"
        class="block h-0.5 w-12 bg-white"
    ></span>
</section>