<section class="relative flex min-h-[calc(100dvh-4rem)] w-full items-center justify-center overflow-hidden bg-[url('/trabajadores.jpg')] bg-cover bg-center bg-no-repeat px-6 py-12 md:min-h-[calc(100dvh-5rem)] md:justify-start md:p-20">
    <div class="pointer-events-none absolute inset-0 bg-blueRGA/85"></div>
    <div class="flex flex-col z-2 text-greyRGA text-center items-center gap-20 w-full">
        <h1 class="w-fit border-b-4 border-yellowRGA pb-2 text-lg md:text-4xl font-bold">
            SOBRE NOSOTROS
        </h1>
        <p class="text-base md:text-2xl z-2">
            En Consorcio RGA, somos especialistas en el abastecimiento estratégico de productos de higiene, limpieza y mantenimiento profesional 
            para el sector corporativo e institucional. Nos consolidamos como el aliado operativo ideal para empresas, industrias y centros 
            educativos que exigen los más altos estándares de pulcritud, seguridad y eficiencia en sus espacios.
        </p>
        <p class="text-base md:text-2xl z-2">
            Entendemos que la gestión de la higiene no es un aspecto secundario, sino un pilar fundamental para la salud de las personas, la 
            productividad laboral y la reputación institucional. Por ello, no nos limitamos a distribuir insumos: diseñamos soluciones integrales 
            de suministro que garantizan el stock permanente que tu organización necesita para operar sin interrupciones.
        </p>
    </div>
</section>