---
import Bottom from "../components/Bottom.astro";
import Toolbar from "../components/Toolbar.astro";
import Whatsapp from "../components/Whatsapp.astro";
import "../styles/global.css";

interface Props {
  title?: string;
}

const {
  title = "Consorcio RGA",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body class="min-h-screen">
    <Toolbar />

    <main class="pt-10 md:pt-20">
      <slot />
    </main>
	<Bottom></Bottom>

    <Whatsapp />
  </body>
</html>